.facebook {
    background: url("sprite.svg") 0 0 no-repeat;
}

.facebook-dims {
    width: 33px;
    height: 33px;
}

.instagram {
    background: url("sprite.svg") 50% 50% no-repeat;
}

.instagram-dims {
    width: 33px;
    height: 33px;
}

.whatsapp {
    background: url("sprite.svg") 100% 100% no-repeat;
}

.whatsapp-dims {
    width: 33px;
    height: 33px;
}

