%svg-common {
    background: url("sprite.svg") no-repeat;
}

.audit {
    @extend %svg-common;
    background-position: 0 0;
}

.audit-dims {
    width: 73px;
    height: 64px;
}

.mail {
    @extend %svg-common;
    background-position: 73.73737373737374% 71.11111111111111%;
}

.mail-dims {
    width: 26px;
    height: 26px;
}

.phone {
    @extend %svg-common;
    background-position: 100% 100%;
}

.phone-dims {
    width: 26px;
    height: 26px;
}

