%svg-common {
    background: url("sprite.svg") no-repeat;
}

.facebook {
    @extend %svg-common;
    background-position: 0 0;
}

.facebook-dims {
    width: 33px;
    height: 33px;
}

.instagram {
    @extend %svg-common;
    background-position: 50% 50%;
}

.instagram-dims {
    width: 33px;
    height: 33px;
}

.whatsapp {
    @extend %svg-common;
    background-position: 100% 100%;
}

.whatsapp-dims {
    width: 33px;
    height: 33px;
}

