%svg-common {
    background: url("sprite.svg") no-repeat;
}

.location {
    @extend %svg-common;
    background-position: 0 0;
}

.location-dims {
    width: 26px;
    height: 26px;
}

.mail {
    @extend %svg-common;
    background-position: 50% 50%;
}

.mail-dims {
    width: 26px;
    height: 26px;
}

.phone {
    @extend %svg-common;
    background-position: 100% 100%;
}

.phone-dims {
    width: 26px;
    height: 26px;
}

